*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  height: 150px;
  width: 800px;
  background-color: brown;
  color: azure;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
h1{
  color: azure;
}
.nav{
  background-color: aqua;
  margin: 5px;
  padding: 10px;
}
